<p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true">
  <ng-template pTemplate>
    <p-panel header="Zoomchat">
      <div style="height: 400px; width: 200px">
        <ng-container *ngFor="let message of messages">
          <ng-container *ngIf="message.type === 'text'">
            <p [innerHtml]="message.text"></p>
          </ng-container>
          <ng-container *ngIf="message.type === 'button'">
            <button (click)="responseClicked(message?.key, message.text)">{{message.text}}</button>
          </ng-container>
          <ng-container *ngIf="message.type === 'email'">
            <label for="message.text">{{message.text}}</label>
            <input (keyup.enter)="onInput($event, message)">
          </ng-container>
        </ng-container>

      </div>
    </p-panel>
  </ng-template>
</p-overlayPanel>
<button type="text" pButton label="Basic" (click)="op.toggle($event); openChat()">
  <div [innerHtml]="popupText" style="width: 180px;">

  </div>
</button>
